---
layout: default
---
<div class="home">
  <ul class="post-list">

    {% for my_page in site.pages %}
    {% if my_page.title contains 'Application' %}
      <li id="applications">
          <a class="post-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          <div class="post-content" itemprop="articleBody">
            {% assign truncatedContent = '' %}
	    {% assign rows = my_page.content | split:'</tr>' %} {% for paragraph in rows limit:4 %} {{ paragraph }} {% endfor %}
	    </table> <a style="padding-left:4px" href="{{ my_page.url | prepend: site.baseurl }}"><i>more</i></a> </div> </li>
      {%endif %} {% endfor %}

    {% for post in site.posts %}
      <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

          <div class="post-content" itemprop="articleBody">
            {{ post.content }}
            <div class="gallery">
            {% for image in site.static_files %}
                {% if image.path contains post.thumbfolder %}
                <div class="gallery-sizer"></div>
                  <div class="gallery-item">
                    <a href="{{ site.baseurl }}{{ image.path | replace: 'thumb', 'full' }}">
                    <img src="{{ site.baseurl }}{{ image.path }}" /></a>
                  </div>
                {% endif %}
            {% endfor %}
            </div>
          </div>

      </li>
    {% endfor %}
  </ul>
</div>
<!-- <div class="pagination">
  {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">&#8592 previous</a>
    {% else %}
      <span class="pagination-item disabled">previous</span>
    {% endif %}
    <span class="page_number ">(page {{ paginator.page }} of {{ paginator.total_pages }})</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">next &#8594</a>
    {% else %}
      <span class="pagination-item disabled">next</span>
    {% endif %}
</div> -->

<!-- <div class="homepage"><a href="#top">&#8593 to top</a></div> -->
