---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

          <div class="post-content" itemprop="articleBody">
            {{ post.content }}
            <div class="gallery">
            {% for image in site.static_files %}
                {% if image.path contains post.thumbfolder %}

                <div class="gallery-sizer"></div>
                  <div class="gallery-item" style="margin-bottom: 10px; background:yellow;">
                    <img src="{{ site.baseurl }}{{ image.path }}" data-original-src="{{ site.baseurl }}{{ image.path | replace: 'thumb', 'full' }}">
</a>
                  </div>
                {% endif %}
            {% endfor %}
            </div>
          </div>

      </li>
    {% endfor %}
  </ul>
</div>
