<footer class="site-footer">

  <div class="wrapper">
	   <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
   <div style="border-bottom-width: 6px; border-bottom-style: solid; border-bottom-color: yellow; visibility: visible;">
<div grid-row="" grid-pad="0" grid-gutter="0" grid-responsive="">
	<div grid-col="10" grid-pad="0"><div style="text-align: left; padding: 0px; font-size: 0em; margin: 0px;"><br><br>
<h1><span style="background-color: #00ffe5;">Center for Art and Human Cooperation<br>
Центр мистецтва та людської взаємодії</span></h1>
</div></div>
	<div grid-col="2" grid-pad="0"><div style="text-align: right; padding: 0px; font-size: 0em; margin: 0px;">{image 6 scale="8" no-zoom icon-mode}</div></div>
</div>
	<div grid-col="3" grid-pad="0"></div>
    </div>

  </div>
    </div>
	   </div>

</footer>
