
   <div style="border-bottom-width: 6px; border-bottom-style: solid; border-bottom-color: yellow; visibility: visible;">
<div grid-row="" grid-pad="0" grid-gutter="0" grid-responsive="">
	<div grid-col="10" grid-pad="0"><div style="text-align: left; padding: 0px; font-size: 1em; margin: 0px;"><br><br>
<a href="https://cahc.art"><h1><span style="background-color: #00ffe5; padding:0px; margin:0px; position:bottom">Center for Art and Human Cooperation<br>
Центр мистецтва та людської взаємодії</span></h1></a>
</div></div>
	<div grid-col="2" grid-pad="0"><div style="text-align: right; padding: 0px; font-size: 0em; margin: 0px;"><img src="https://freight.cargo.site/t/original/i/72edbaaaee8975dee38c5ad9f6f3de6f456b56edf19560b63142eae89efb536d/sun_c.png" width="20%" height="20%" /></div></div>
</div>
	<div grid-col="3" grid-pad="0"></div>

