/**
 * Site header
 */
.site-header {
margin-top: 15px;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: $big-font-size+5;
    font-weight: $bold;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
  // margin-top:$spacing-unit;
    float: right;
    line-height: $base-line-height*1.5;
    position: absolute;
    right: $spacing-unit / 2;
    background-color: $background-color;
    // border-radius: 5px;
    text-align: right;
    z-index: 1;

    .menu-icon {
      float: right;
      // width: 26px;
      height: 20px;
      // padding-top: 5px;
      line-height: $base-line-height;
      text-align: center;

      > svg {
          display: none;
          width: 18px;
          height: 15px;

          path {
              fill: black;
          }
      }
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        display: block;
        padding: 5px 10px;

        &:not(:last-child) {
            margin-right: 0;
        }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover, &.hover-effect .trigger {
      display: block;
      -webkit-user-select: none;
    -webkit-touch-callout: none;
      // padding-bottom: 5px;
    }

    &.hover-effect {border-left: 1px solid blue;
    border-bottom: 1px solid blue;}

    #menu {
     }
        @include media-query($on-palm) {
          border-radius: 0;
          border: 0;

          &:hover, &.hover-effect .trigger {
            display: block;
            -webkit-user-select: none;
          -webkit-touch-callout: none;
            // padding-bottom: 5px;
          }

          & #menu {
            display:none;
          }

          .menu-icon {
            width: 20px;
            height: 15px;
            padding-top: 2px;
            > svg {
                display: block; }
          }

        }
}

// // Original menu
// .site-nav {
//   // margin-top:$spacing-unit;
//     float: right;
//     line-height: $base-line-height*1.5;
//
//     .menu-icon {
//         display: none;
//     }
//
//     .page-link {
//         color: $text-color;
//         line-height: $base-line-height;
//
//         // Gaps between nav items, but not on the last one
//         &:not(:last-child) {
//             margin-right: 20px;
//         }
//     }
//
//     @include media-query($on-palm) {
//         position: absolute;
//         top: 9px;
//         right: $spacing-unit / 2;
//         background-color: $background-color;
//         border: 1px solid $grey-color-light;
//         border-radius: 5px;
//         text-align: right;
//
//         .menu-icon {
//             display: block;
//             float: right;
//             width: 36px;
//             height: 26px;
//             line-height: 0;
//             padding-top: 10px;
//             text-align: center;
//
//             > svg {
//                 width: 18px;
//                 height: 15px;
//
//                 path {
//                     fill: $grey-color-dark;
//                 }
//             }
//         }
//
//           .trigger {
//             clear: both;
//             display: none;
//         }
//
//         &:hover, &.hovered .trigger {
//             display: block;
//             -webkit-user-select: none;
// -webkit-touch-callout: none;
//             // padding-bottom: 5px;
//         }
//
//         .page-link {
//             display: block;
//             padding: 5px 10px;
//
//             &:not(:last-child) {
//                 margin-right: 0;
//             }
//             margin-left: 20px;
//         }
//     }
// }

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit/2 0 $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        padding-top: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: $big-font-size;
    font-weight: $bold;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    a {
      color: blue;
    }
}

.description {
  float:left;
  font-style: italic;
  font-size: $base-font-size - 1px;

    & a {
      color: blue;
    }

}

.gallery-sizer,
.gallery-item {
  width: 20%;
  @include media-query($on-palm) {
    width: 45%;
  }
}

.gallery-item {
  margin-bottom: 7px;
  background:yellow;
}

.video-container {
    position: relative;
    padding-bottom: 33.75%;
    height: 0; overflow: hidden;
    margin-bottom: 5px;
    @include media-query($on-palm) {
      position: relative;
    padding-bottom: 56.25%;
   height: 0; overflow: hidden;

    }
  }

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    @include media-query($on-palm) {
      position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
}

.homepage {
  margin-top: $spacing-unit;

  a {
  color: blue;
  }
}

.post {
  padding-top: $spacing-unit;
}

.pagination {
  a {
    color: blue;
  }
}
.pagination .disabled {
display:none;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.lazycontainer {
width: 60%;
margin-bottom: 5px;

@include media-query($on-palm) {
  width: 100%;
}
}

.audio {
  @include media-query($on-palm) {
    margin-top:5px;
    margin-bottom: 5px;
  }
}

// MEssing with tables

.post-content {
  overflow-x: auto;

}
.post-content table {
@include media-query($on-palm) {
  font-size: $small-font-size - 2px;

}

}
.post-content td {
border-bottom:dotted 1px black;
padding-right: 5px;
// border-right:dotted 1px black;
}

#applications {
  font-size: $small-font-size;

& .post-link  {
  font-size: $base-font-size;
}
@include media-query($on-palm) {
  overflow-x: auto;
  margin-bottom: 0;
  & table{
    // width: 150%;
    }
  }
}

.emc {
position: absolute;
top:0;
left: $content-width + 15px;
// right:10%;
width:143px;
max-width:150px;
text-align:center;
font-size:10px;
margin-bottom: $spacing-unit;
  @include media-query($on-laptop + 158px) {
    position: relative;
    float:right;
    left:auto;
    right:40%;
    width:100%;
  }
  @include media-query($on-palm) {
    right:30%;

  }
}
