<!DOCTYPE html>
<html>

  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    <script type="text/javascript" src="/photoswipe/jquery.photoswipe-global.js"></script>
    <script type="text/javascript" src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/lazyYT.js"></script>
    <script>
   $('.lazyYT').lazyYT('AIzaSyBfJoSJqWDrAOqx3SIXbnLOGIAHqgJpQeE', {display_title: false});
    </script>

    <script>
    var slideSelector = 'a',
    options     = {bgOpacity: 0.8, closeOnScroll: false, shareEl: false, clickToCloseNonZoomable: false},
    events      = {};

    $('.gallery').photoSwipe(slideSelector, options, events);
    </script>

    <script>
    // init Masonry
    var $grid = $('.gallery').masonry({
      // options...
      percentPosition: true,
      columnWidth: '.gallery-sizer',
      itemSelector: '.gallery-item',
      transitionDuration: 0,
      gutter: 7
        });
    // layout Masonry after each image loads
    $grid.imagesLoaded().progress( function() {
      $grid.masonry('layout');
    });
    </script>
    <script>
    $(function () {
         $('.site-nav').click(function () {
           $(this).toggleClass("hover-effect");
         });
    });
  </script>
  </body>

</html>
