<!DOCTYPE html>
<html>

  {% include head.html %}
  <body>
    <header class="site-header">
      <div class="wrapper">


      </div>
    </header>
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    <script type="text/javascript" src="/photoswipe/jquery.photoswipe-global.js"></script>
    <script type="text/javascript" src="https://unpkg.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    <script>
    var slideSelector = 'img',
    options     = {bgOpacity: 0.8, closeOnScroll: false, shareEl: false, clickToCloseNonZoomable: false},
    events      = {
      };


    $('.gallery').photoSwipe(slideSelector, options, events);
    </script>

    <script>
    // init Masonry
    var $grid = $('.gallery').masonry({
      // options...
      percentPosition: true,
      columnWidth: '.gallery-sizer',
      itemSelector: '.gallery-item',
      transitionDuration: 0,
      gutter: 10
        });
    // layout Masonry after each image loads
    $grid.imagesLoaded().progress( function() {
      $grid.masonry('layout');
    });
    </script>
  </body>

</html>
