---
layout: issuelay
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
    <div class="gallery">
    {% for image in site.static_files %}
        {% if image.path contains page.thumbfolder %}

        <div class="gallery-sizer"></div>
          <div class="gallery-item" style="margin-bottom: 10px; background:yellow;">
            <img src="{{ site.baseurl }}{{ image.path }}" data-original-src="{{ site.baseurl }}{{ image.path | replace: 'thumb', 'full' }}" data-original-src-width="">

          </div>
        {% endif %}
    {% endfor %}
    </div>
  </div>

</article>
