---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-link">
  {{ page.title }}
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  <div class="gallery">
  {% for image in site.static_files %}
      {% if image.path contains page.thumbfolder %}
      <div class="gallery-sizer"></div>
        <div class="gallery-item">
          <a href="{{ site.baseurl }}{{ image.path | replace: 'thumb', 'full' }}">
          <img src="{{ site.baseurl }}{{ image.path }}"></a>
        </div>
      {% endif %}
  {% endfor %}
  </div>
    </div>
</article>
